/* Community Page */
.feed {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.post {
  background: gray;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.05);
}