/* Create listing Page*/
.createListingDiv
{
  max-width: 700px;
  margin: auto;
  padding: 40px 20px
}

.createListing {
  max-width: 700px;
  margin: auto;
  padding: 40px;
  background: gray;
  border-radius: 8px;
}

.createListing input,
.createListing textarea,
.createListing select {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
}