/* User Dashboard */
.dashboard {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 30px;
  padding: 20px;
}

.dashboardSidebar {
  background: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
}

.dashboardContent {
  background: rgb(206, 199, 199);
  border-radius: 8px;
  padding: 20px;
}