/* Registration page*/
.regDiv {
  max-width: 700px;
  margin: auto;
  padding: 40px 20px
}

.regDiv p {
  text-align: center;
}

.regForm form {
  background: gray;
  padding: 30px;
  border-radius: 8px;
  margin: auto;
  display: grid;
}

.regForm form .input {
  margin-bottom: 15px;
  padding: 10px;
}