:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#home-div {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

#home-featured {
  text-align: center;
}

#home-categories {
  text-align: center;
}

.about-div {
  text-align: center;
  padding: 100px;
}

.about-div h1 {
  font-family: 'Courier New', Courier, monospace;
  margin: auto;
}

.about-div p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.listing-search {
  margin: 1px auto;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
